@import '../core/Normalize.scss';
@import '../core/Reset';
@import '../core/Variables.scss';
@import '../core/Global';

.section001 {
  position: relative;

  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgba(221, 3, 3, 0.55);

  & .container {
    width: 60%;
    padding: 24rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 124rem;
    color: $col_white;

    & .title-h1 {
      padding: 20rem;
      font-size: 80rem;
    }
    & .title-h2 {
      padding: 20rem;
      font-size: 40rem;
    }
    & .title-p {
      padding: 20rem;
      font-size: 20rem;
      font-weight: $font_w_regular;
    }
  }

  & .scrolling-down {
    z-index: 10;

    position: absolute;
    bottom: 25rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 18rem;
    color: rgba(244, 245, 246, 1);

    transition: all 0.35s ease-in-out;

    opacity: 0.3;

    &:hover {
      cursor: pointer;
      // color: rgba(244, 245, 246, 1);

      opacity: 0.8;
    }

    &__rectangle {
      width: 3rem;
      height: 80rem;
      margin-top: 25rem;

      background-color: rgba(244, 245, 246, 1);
    }
  }
}
