.white-space-jump {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
}

.snap-container {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  height: 100vh;
  overflow: scroll;

  @media (min-width: $break_point_tablet) {
  }
}

.snap-section {
  @media (min-width: $break_point_tablet) {
    scroll-snap-align: start;
  }
}

.hidden {
  display: none;
}
